<mat-drawer-container class="container" autosize hasBackdrop="true">
  <mat-drawer #drawer class="sidenav" mode="push">
    <mat-card>
      <mat-form-field class="search" appearance="outline">
        <mat-label>Ara</mat-label>
        <input matInput placeholder="Placeholder" [(ngModel)]="searchText"
          type="search" (search)="search()" />
        <mat-icon matSuffix>search</mat-icon>
        <mat-hint>"must" ile başlayan tüm dokümanları getirmek için "must*"</mat-hint>
      </mat-form-field>
    </mat-card>

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState= true"
        (closed)="panelOpenState= false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Self aware panel
          </mat-panel-title>
          <mat-panel-description>
            Currently I am {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer>
  <mat-drawer-content>

    <button class="toggle-sidebar" mat-raised-button (click)="drawer.toggle()">
      <mat-icon>filter_list</mat-icon>
    </button>

    <mat-paginator class="paginator" [length]="totalPages"
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5,10,20]"
      (page)="pageEvent($event)">
    </mat-paginator>
  <!--
    <mat-card *ngFor="let result of filteredResults" class="result">
      <mat-card-header>
        <mat-card-title>{{result.title}}</mat-card-title>
        <mat-card-subtitle>Subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>Content goes here</mat-card-content>
    </mat-card>
  -->
    <mat-list>
      <mat-list-item *ngFor="let result of filteredResults">
        <h3 matLine> {{result.title}} </h3>
        <p matLine>
          <span> {{result.url}} </span>
  <!--          <span class="demo-2"> -- {{message.content}} </span>-->
        </p>
        <mat-icon matListIcon style="position: absolute;right:2em;">subject</mat-icon>
      </mat-list-item>
    </mat-list>

    <mat-progress-spinner [style.display]="showSpinner ? 'block' : 'none'"
      color="primary" mode="indeterminate"></mat-progress-spinner>
  </mat-drawer-content>

</mat-drawer-container>